---
title: 組み込まれた優しさ
tags:
  - 読書
---

<p>今読んでいる小説にこんな場面が出てきた。四、五十代の四人のお盆の日のこと。</p>

<blockquote style="font-family: serif;">
「英樹、少しは落ち着いてまわりの景色でも眺めなさいよ」<br>
　と言うと、<br>
「お墓参りに来たんで、景色見に来たんじゃない」<br>
　と言い返した。<br>
「やだねえ、せっかちな弟を持つと」<br>
　と言って、奈緒子姉は両側にほぼ等間隔に<ruby>欅<rp>（</rp><rt>けやき</rt><rp>）</rp></ruby>が植えられた道の車道に出て、日傘をさしてこれ見よがしにゆっくりと歩いて見せた。道には中央分離帯まであって、ツツジらしい低木が植えられていて、そこらじゅうというか風景全体から<ruby>蝉<rp>（</rp><rt>せみ</rt><rp>）</rp></ruby>の声が聞こえていた。正門のところでは車も人もかなり多かったけれど、広い敷地の霊園全体に散っていったのでここまで来るとまばらになっていて、車道を歩いても車にひかれる心配はなかった。幸子姉は日傘をささなくても<em class="kenten">つば</em>のやたらに広い帽子で背中に大きな影ができていたが、まわりを見るときには広い<em class="kenten">つば</em>がかえってじゃまで、手で<em class="kenten">つば</em>をめくってまわりを見回しながら、<br>
「何度来てもいいところだよね、ここは」<br>
　と言った。<br>
「いいところ？<br>
　死んだらどこだって同じことだ」<br>
　英樹兄は一段分高くなっているお墓の敷地に一人でさっさと入り、石<ruby>灯籠<rp>（</rp><rt>どうろう</rt><rp>）</rp></ruby>やその手前に植えられた<ruby>沈丁花<rp>（</rp><rt>じんちょうげ</rt><rp>）</rp></ruby>と、もう一本はツゲだと思うが、それを確かめるように一つ一つ見ていた。<br>
「七月にわたしと清人で掃除したからきれいでしょ」奈緒子姉が言った。<br>
「おじいちゃんが、『ここがいい』って言ってたんだから、『いいところだ』って言ってあげなよ」<br>
「何でもケチつけるところもお父さんにそっくりだよね。『ここがいい』って言って、自分でお墓まで建てといたんだから、『いいところ』でいいじゃないのよ」<br>
「おじいちゃん」も「お父さん」も伯父のことだ。この霊園は一区画ずつが広くて、特に伯父と伯母のお墓のあるこのあたりは最近の建て売り住宅の狭い庭ぐらいの広さがあって、ゆったりしている。敷地の入り口の両側に今英樹兄が見ていた沈丁花とツゲか何かが植えられていて、その奥に石灯籠が立っていて、奥の正面は当然墓石で、その右奥に二メートルくらいの<ruby>椿<rp>（</rp><rt>つばき</rt><rp>）</rp></ruby>があって、左の奥にはそれよりもっと高い<ruby>楓<rp>（</rp><rt>かえで</rt><rp>）</rp></ruby>が枝を広げている。この時期に葉が赤くなる種類だから華やかというかまわりを明るくしているみたいだった。<br>
「死んで薄暗いところに埋められるのは嫌だけど、こういうところだったらいいじゃないの」<br>
「死んだらどこだって同じことだ」<br>
　英樹兄はさっきと同じことを言って、タワシに水をつけて墓石をごしごし洗い始めたが、奈緒子姉も幸子姉もこれは英樹兄の仕事と割り切っているらしく、手伝う素振りをまったく見せずにまだまわりを歩き回っていた。<br>
　私がここに来るのは二年前の伯母の葬式のとき以来で、あのときの印象では霊園全体にあまり高い木がなくて眺望が開けていて、青い空の色が何も障害物なしにずうっと下の低木の緑にまで降りているという感じだと思っていたけれど、道沿いの欅だけではなくて、墓地のあちらこちらに高く伸びて葉を茂らせている欅や桜や松や杉のせいで案外、遠くまで見渡せるようになっていなかった。あれは離れた区画まで歩いて行ったときの印象だったのかもしれないと思った。このあたりは気の多い公園という感じだった。<br>
「英樹、もうそのくらいでいいわよ」<br>
　そろそろ待ちきれなくなったらしい奈緒子姉が言った。結局奈緒子姉だってゆっくりまわりを見ているなんてできないのだが、それだけではなくて蚊も飛んでいて、奈緒子姉は<ruby>肘<rp>（</rp><rt>ひじ</rt><rp>）</rp></ruby>のあたりを<ruby>掻<rp>（</rp><rt>か</rt><rp>）</rp></ruby>き、幸子姉は右足の<ruby>踵<rp>（</rp><rt>かかと</rt><rp>）</rp></ruby>で向こう<ruby>脛<rp>（</rp><rt>ずね</rt><rp>）</rp></ruby>のあたりをこすっていた。<br>
「英樹、そんなにごしごしやったら<ruby>摩<rp>（</rp><rt>す</rt><rp>）</rp></ruby>り減っちゃって、あんたが入るときまでもたないわよ」<br>
「バカ言え」<br>
　と言ったけれど、それで英樹兄はやめて「きれい、きれい」と言って墓石のてっぺんをぺたぺたと叩いて、それから<ruby>脇<rp>（</rp><rt>わき</rt><rp>）</rp></ruby>に立っている黒い石碑を洗いはじめた。石碑には「墓誌」と刻まれていて、つまりは伯父と伯母の戒名と<ruby>享年<rp>（</rp><rt>きょうねん</rt><rp>）</rp></ruby>が彫られているのだが、<br>
「兄ちゃんもあと二十年で仲間入りだね」<br>
　と言った幸子姉の冗談に英樹兄は何も言い返さなかった。蝉の声にかき消されて聞こえなかったのかもしれない。奈緒子姉は「さあ、さ」と言って、花の入っている<ruby>手桶<rp>（</rp><rt>ておけ</rt><rp>）</rp></ruby>を持って一段分高いお墓の敷地に入っていき、<br>
「もうお花あげちゃうわよ」<br>
　と言ったが、言い終わる前に花立てに差しはじめていて、英樹兄は、<br>
「じゃあ高志、線香に火をつけろ」<br>
　と、墓誌の石を洗いながら言い、私がお墓の敷地の境界の石の隅に<ruby>屈<rp>（</rp><rt>かが</rt><rp>）</rp></ruby>んで紙を燃やして線香の束に火をつけはじめていると、腕のまわりに蚊が飛んできて、私が払おうとしたら幸子姉がパチンと叩いて殺した。それで私の頭の辺に日陰ができたのが幸子姉の帽子かと思ってちらっと見上げると奈緒子姉の日傘で、奈緒子姉が敷地の内側から身を乗り出すように<ruby>覗<rp>（</rp><rt>のぞ</rt><rp>）</rp></ruby>き込んでいて、<br>
「ちゃんとつけられる？」<br>
　と言うと、「高志も大人だよ」と、幸子姉が笑ったのだけれど、私がこういうことは何もできないかものすごく苦手だと思っている奈緒子姉はあらためて感心したように「早いもんだねえ」と言った。<br>
「『なおこねえちゃあん』って、泣いてた子どもがもう四十<span class="mdash">&mdash;</span>、いくつだっけ？」<br>
「十月で四」<br>
「じゃあ、わたしとちょうど十歳違いじゃない」<br>
「そうだよ。生まれたときから、十歳違いだよ」<br>
「ちゃんと考えたことなかったわ。<br>
　ついた？」<br>
「もうちょっと」と私は言った。<br>
「わたしがおしゃべりして、時間稼ぎしてあげてるんだから、早くつけなさいよ。<br>
　<span class="mdash">&mdash;</span>でもここだって、夜はやっぱり怖いんでしょうね」<br>
「『いいところ』って言ってみたり、『怖い』って言ってみたり」<br>
　向こうから英樹兄が言った。<br>
「いいところだって、怖いものは怖いじゃないの。ま、どっちにしろわたしが入るのはここじゃないけど」<br>
「だから死んだらどこだって同じことだって、言ってるじゃないか」
</blockquote>

<p>これを僕は優しさだと思った。反応的な優しさではなくて、英樹に組み込まれた優しさだと思った。奈緒子の寂しさを感じ取って英樹が優しさからこれを言ったのではない、と思う。そもそも、奈緒子がに寂しさがあるのかどうか全然分からない。あると言われれば納得するし、ないと言われても納得する。英樹が勝手に寂しさを感じたかどうかも同様に分からないけど、奈緒子が寂しく思っていることよりはそっちの方があり得る話だとは思う。でも、僕はそうですらないと思う。それでも、これは優しさだと感じた。</p>
<p>みんなはどう思うんだろう。</p>
<p>これを優しさだと思わない人はどういう人だろう。僕がここに優しさを見い出すのは、お前の優しさがそういう形をしているからだろう、と言われれば、それは、そうだと答える。でも、だからこれはお前とお前のような人にとってだけの優しさなのだ、と言われるとすると、そうではないと言いたい。これは英樹から万人への優しさなのだと感じる。</p>
<p>仮定が多過ぎてこの引用から優しさについて話をすることはできない、という人もいそうだ。全くその通りだと思う。だからそういう人とは話さないで大丈夫。（というのを、否定的なニュアンスを入れずに書くにはどうすれば……。）</p>
<p>ストローマンいっぱいで、気持ち悪い文になっちゃいましたね。反省。（しかし書き直さない。）</p>
<p>引用は保坂和志『<a href="http://www.kawade.co.jp/np/isbn/9784309414225/">カンバセイション・ピース</a>』（河出文庫）によりました。ありがとうございました。平野敬子の装幀が好き。</p>

<h2>余談</h2>
<p>職場では優しさをFFSの受容性と結び付ける論調が広まっていて、と言っても一人が主張しているだけなんだけど僕はその人とよく話すから職場全体がそういう論調なのだというように感じていて、受容性の低い僕はそれだけじゃないと主張したい、というのがマトリクスになっていたから引用箇所が僕の心に届いたのだろうなと思います。</p>
