@charset "utf-8";

$breakpoint: 991px;

:root {
  --color-red: #f44336;
  --link-color: var(--color-red);
  --content-width: 80%;
  --header-margin-bottom: -3em;
}

.index {
  --header-margin-bottom: -3em;
}

@media (max-width: $breakpoint) {
  :root {
    --content-width: calc(100vw - 0.5em);
  }

  .index {
    --header-margin-bottom: 0;
  }

  header {
    h1, h2 {
      font-size: 2em;
    }
  }
}

h1.site-title {
  font-size: 3em;
  text-align: left;
}

@media (max-width: $breakpoint) {
  h1.site-title {
    font-size: 2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
article > .card p a,
article > .card dl a,
article > .card ul:not(.browser-default):not(.tags) li a {
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  line-height: 1.8;
}

blockquote, blockquote p {
  line-height: 2;
}

a {
  color: var(--link-color);
}

pre {
  padding: 0.5em;
  overflow-x: scroll;
}

// Dirty
.highlight, code {
  background-color: #f8f8f8;
}

em.kenten {
  text-emphasis: filled sesame;
  font-style: normal;
}

body {
  > header {
    height: 15vw;
    margin-bottom: 0;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: calc((100% - var(--content-width)) / 2);
    padding-right: calc((100% - var(--content-width)) / 2);
    background-size: 100%;
    background-image: url(/images/title-bg.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: $breakpoint) {
  body {
    > header {
      padding-top: 2vw;
      padding-bottom: 2vw;
    }
  }
}

.index {
  > header {
    height: 33.333333333333336vw;
    margin-bottom: var(--header-margin-bottom);
    font-size: 1.5rem;
  }
}

.site-title {
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
  a {
    vertical-align: baseline;
  }
}

article, section {
  h1, h2 {
    font-size: 2em;
  }
}

article {
  p {
    font-size: 1.2em;
  }

  a, .tags a, .source a {
    text-decoration: underline;
  }

  header a, footer a {
    text-decoration: none;
  }

  img, video {
    max-width: 100%;
  }

  > .card {
    strong {
      font-weight: bold;
    }

    li {
      p {
        line-height: 1.5;
      }
    }

    .listingblock {
      .content {
        pre {
          white-space: pre-wrap;
        }
      }
    }

    ul {
      &:not(.browser-default):not(.tags) {
        padding-left: 1.5em;

        li {
          list-style-type: disc;
        }
      }
    }
  }

  .image {
    img {
      border: solid 1px #cccccc;
    }
  }
}

.card {
  padding: 1em;
}

header > .card,
section > .card,
article > .card,
footer > .card,
footer > ul {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  width: 80%;

  .card {
    display: block;
  }
}

.prev {
  margin-left: auto;
  text-align: right;
}

.date, ul.tags, .source {
  text-align: right;
}

.related-pages {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

  > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 961px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 861px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 641px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 481px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 381px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      margin: 0;
    }

    h3, > div {
      padding: 0;

      a {
        display: block;
        padding: 1rem;
      }
    }

    h3 {
      display: table-cell;
      font-size: 2rem;
      text-align: center;
      background-color: #e9e9e9;

      a {
        color: #d50000;

        &::before {
          content: "🔖️";
          display: block;
        }
      }
    }

    > div {
      font-size: 1rem;
    }
  }
}

.feed {
  > i {
    $margin-top: 0.2em;
    font-size: 1.2em;
    margin-top: -$margin-top;
    transform: translateY($margin-top);
  }
}

.copy {
  padding-left: 1.2em;
  background-image: url(/images/icon.png);
  background-size: 1em;
  background-position: left center;
  background-repeat: no-repeat;
}

// Asciidoctor

.videoblock, .listingblock {
  .title {
    font-style: italic;
    font-size: small;
    margin-left: 2em;
  }
}

.booklog_html {
  table {
    border-collapse: inherit;
  }
}
