<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><% if current_page.data.tags && !current_page.data.tags.empty? %>[<%= current_page.data.tags.join("][") %>]<% end %><%= current_page.data.title %> | <%= data.site.title %></title>

    <% if config[:force_tls] %>
    <script>
      if (location.protocol !== 'https:' && location.hostname != 'localhost') {
        location.protocol = 'https:'
      }
    </script>
    <% end %>

    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag :libs %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :libs, :defer => "", "data-turbolinks-eval" => "false" %>
    <%#= javascript_include_tag :all, :defer => "", "data-turbolinks-eval" => "false" %>

    <%= favicon_tag '../favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_tag 'favicon.png', size: '60x60' %>

    <link href="<%= config[:base] %>manifest.json" rel=manifest>
    <meta name=theme-color content="<%= data.site.theme_color %>">

    <meta name=view-transition content=same-origin>

    <meta name=og:title content="<% if current_page.data.tags && !current_page.data.tags.empty? %>[<%= current_page.data.tags.join("][") %>]<% end %><%= current_page.data.title || data.site.title %>">
    <meta name=twitter:description content="<%=h current_page.summary(180) %>">
    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@KitaitiMakoto>
    <meta name=twitter:image content="<%= URI(app.data.site.uri) + current_page.destination_path + image_path('icon.png') %>">
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h2 class="site-title"><% link_to '/index.html', :class => 'waves-effect' do %><%=h data.site.title %><% end %></h2>
    </header>
    <main>
      <article>
        <header>
          <div class=card>
            <h1><%= current_page.data.title %></h1>
            <div class=date>
              <time pubdate><%=h current_page.date.strftime('%F') %></time>
            </div>
            <% if current_page.data.tags && !current_page.data.tags.empty? %>
            <ul class="tags">
              <% current_page.data.tags.each do |tag| %>
              <li><%= link_to tag, upath(tag_path(tag)), :rel => 'tag' %></li>
              <% end %>
            </ul>
            <% end %>
            <div class="source">
              <%= link_to "原稿", File.join(data.site.source_base_uri, Pathname.new(current_page.source_file).relative_path_from(Pathname.getwd)) %>
            </div>
          </div>
        </header>
        <div class=card>
          <%= yield %>
        </div>
        <footer>
          <%= partial 'adjacent', :locals => {
          :next_page_info => {:page => current_page.article_next, :label => current_page.article_next&.data&.title},
          :previous_page_info => {:page => current_page.article_previous, :label => current_page.article_previous&.data&.title},
          } %>
          <section class=related-pages>
            <% if (current_page.data.tags && !current_page.data.tags.empty?) %>
            <% current_page.data.tags.each do |tag| %>
            <div>
              <h3 class=card><%= link_to tag, upath(tag_path(tag)), class: "waves-effect" %></h3>
              <% unless blog.tags[tag].empty? %>
                <% blog.tags[tag].each do |article| %>
                <% next if article == current_page %>
                <div class=card><%= link_to article.title, article.url, class: "waves-effect" %></div>
                <% end %>
              <% end %>
            </div>
            <% end %>
            <% end %>
          </section>
          <div class=card>
            <%= partial 'feed' %>
          </div>
          <div class=card>
            <%= partial 'author' %>
          </div>
        </footer>
      </article>
    </main>

    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
