<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name=description content="<%=h app.data.site.description%>">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || data.site.title %></title>

    <% if config[:force_tls] %>
    <script>
      if (location.protocol !== 'https:' && location.hostname != 'localhost') {
        location.protocol = 'https:'
      }
    </script>
    <% end %>

    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag :libs %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :libs, :defer => "", "data-turbolinks-eval" => "false" %>
    <%#= javascript_include_tag :all, :defer => "", "data-turbolinks-eval" => "false" %>

    <%= favicon_tag '../favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_tag 'favicon.png', size: '60x60' %>

    <link href="<%= config[:base] %>manifest.json" rel=manifest>
    <meta name=theme-color content="<%= data.site.theme_color %>">

    <meta name=view-transition content=same-origin>

    <meta name=og:description content="<%=h app.data.site.description%>">
    <meta name=og:title content="<%=h app.data.site.title %>">
    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@KitaitiMakoto>
    <meta name=twitter:image content="<%= URI(app.data.site.uri) + current_page.destination_path + image_path('icon.png') %>">

    <meta name=robots content="noindex,follow">
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h1 class=site-title><%= link_to data.site.title, '/index.html', :class => 'waves-effect' %></h1>
    </header>
    <main>
      <%= yield %>
      <footer>
        <%= partial 'adjacent', :locals => {
        :next_page_info => {:page => prev_page, :label => "前#{per_page}日分"},
        :previous_page_info => {:page => next_page, :label => "次#{per_page}日分"}
        } %>
        <div class=card>
          <%= partial 'feed' %>
        </div>
        <div class=card>
          <%= partial 'author' %>
        </div>
      </footer>
    </main>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
