<% if next_page[:page] || previous_page[:page] %>
<ul>
  <% if next_page[:page] %>
  <% link_to next_page[:page], :rel => 'next' do %>
  <li><paper-button raised><%=h next_page[:label] %></paper-button></li>
  <% end %>
  <% end %>
  <% if previous_page[:page] %>
  <% link_to previous_page[:page], :rel => 'previous' do %>
  <li><paper-button raised><%=h previous_page[:label] %></paper-button></li>
  <% end %>
  <% end %>
</ul>
<% end %>
