---
title: アペフチ
---

<% blog.articles.each do |article| %>
<article>
  <paper-card elevation=2>
    <% link_to article.path do %>
    <h1><%=h article.title %></h1>
    <time pubdate><%=h article.date.strftime('%F') %></time>
    <% end %>
    <%= article.summary %>
  </paper-card>
</article>
<% end %>
