---
pageable: true
---

<% page_articles.each do |article| %>
<article>
  <div class="card z-depth-2">
    <% link_to article do %>
    <h1><%=h article.title %></h1>
    <div class=date>
      <time pubdate><%=h article.date.strftime('%F') %></time>
    </div>
    <% end %>
    <% if article.data.tags && !article.data.tags.empty? %>
    <ul class="tags">
      <% article.data.tags.each do |tag| %>
      <li><%= link_to tag, upath(tag_path(tag)), :rel => 'tag' %></li>
      <% end %>
    </ul>
    <% end %>
    <%= article.body %>
  </div>
</article>
<% end %>
