---
layout: false
---
<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <meta name=view-transition content=same-origin>

    <title><%=h tagname %>とタグ付けられたページ</title>

    <%= feed_tag :atom, h(url_for(File.join('/', app.extensions[:feed].options.uri))), :title => app.data.site.title %>

    <%= stylesheet_link_tag :libs %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :highlight %>
    <%= javascript_include_tag :libs, :defer => "", "data-turbolinks-eval" => "false" %>
    <%= javascript_include_tag :all, :defer => "", "data-turbolinks-eval" => "false" %>

    <link href="<%= config[:base] %>manifest.json" rel=manifest>
    <meta name=theme-color content="<%= data.site.theme_color %>">
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h2 class="site-title"><% link_to '/index.html', :class => 'waves-effect' do %><%=h data.site.title %><% end %></h2>
    </header>
    <main>
      <section>
        <header>
          <div class=card>
            <h1><%=h tagname %>とタグ付けられたページ</h1>
          </div>
        </header>
        <div class=card>
          <ul class=tagged-articles>
            <% articles.each do |article| %>
            <li><%= link_to h("#{article.date.strftime('%F')} #{article.title}"), article, :class => 'waves-effect' %></li>
            <% end %>
          </ul>
        </div>
        <footer>
          <div class=card>
            <%= partial 'author' %>
          </div>
        </footer>
      </section>
    </main>
    <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
